*{
    margin: 0;
    padding: 0;
}
h1 {
    color: cadetblue;
    font-size: 25px;
    margin: 20 0;
    transition: 0,5s;
    cursor: default;
}
h1:hover{
    color: coral;
    transition: 0,5s;
}

h2 {
    color: cornflowerblue;
    font-size: 20px;
    justify-content: left;
    transition: 0,5s;
    cursor: default;
    text-align: left;
}
h2:hover{
    color: coral;
    transition: 0,5s;

}
.pendidikan{
    color:cornflowerblue;
    justify-content: space-around;
    
}
body{
    background-color: honeydew;
    justify-content: space-around;
}
.gambar{
    margin-top: 35;
    margin-bottom: 20;
    width: 200px;
    display: inline-flex;
    size: 100px;
    object-fit: scale-down;
    height: 250px;
}
.about{
    font-size: 20px;
    text-align: left;
    padding: 20px 10%;
    width: fill;
    text-align: left;
}
 .container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
 }
.me {
    text-align: center;
}


